.gallery{
    margin-top: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_title{
        font-size: 42px;
        margin-bottom: 10px;
    }
    &_txt{
        margin-bottom: 40px;
    }
    &_box{
        width: 1294px;
        height: 453px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_box{
            width: 413px;
            height: 453px;
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(248, 249, 250, 1);
            border-radius: 16px;
            &_txt{
                margin-top: 40px;
            }
            &_link{
                padding: 14px 63px;
                background-color: rgba(248, 249, 250, 1);
                border: 1px solid black;
                text-decoration: none;
                color: black;
                border: 1px solid black;
            }
        }
    }
}